# S&P 500

## Library import

In [25]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Import list of Stocks

In [26]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks.head(10)

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV
5    ABC
6   ABMD
7    ABT
8    ACN
9   ADBE

## Acquiring an API Token

In [27]:
from secrets import IEX_CLOUD_API_TOKEN

## Making first API call
* Market capitalization for each stock
* Price of each stock

In [28]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
# print(data)

## Parsing API call

In [29]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding stocks data to a Pandas DataFrame

In [30]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [31]:
final_dataframe = final_dataframe.append(pd.Series(
    [
        symbol,
        price,
        market_cap,
        'N/A'
    ],
        index=my_columns),
    ignore_index=True
)

final_dataframe

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       178.99         2926245810110                     N/A

## Looping trough the tickers in the list of stocks (very slow)

In [32]:
final_dataframe = pd.DataFrame(columns=my_columns)
for stock in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
        [
            stock,
            data['latestPrice'],
            data['marketCap'],
            'N/A'
        ],
        index=my_columns),
    ignore_index=True
    )

In [33]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       137.65           41015409139                     N/A
1      AAL        17.93           11356005634                     N/A
2      AAP       220.54           13088153636                     N/A
3     AAPL       173.81         2809335350034                     N/A
4     ABBV       172.47          304441955529                     N/A
5      ABC       158.54           34162189592                     N/A
6     ABMD       324.69           14927875493                     N/A
7      ABT       121.65          215871090040                     N/A
8      ACN       356.51          231623800790                     N/A
9     ADBE       457.62          218502745096                     N/A
10     ADI       164.08           84279841377                     N/A
11     ADM        92.85           52957696608                     N/A
12     ADP       240.29          104733543912                     N/A
13    ADSK       213.55           46257700028                     N/A
14     AEE       100.34           25112056041                     N/A
15     AEP       109.05           54706349914                     N/A
16     AES        26.12           17792417832                     N/A
17     AFL        66.98           43052181783                     N/A
18     AIG        63.95           51640885524                     N/A
19     AIV         7.39            1102305882                     N/A
20     AIZ       189.07           10915187486                     N/A
21     AJG       184.92           37580198513                     N/A
22    AKAM       121.45           19904446586                     N/A
23     ALB       217.46           25517250816                     N/A
24    ALGN       421.85           33928421245                     N/A
25     ALK        55.16            7054519104                     N/A
26     ALL       139.98           39449562182                     N/A
27    ALLE       110.97            9699304399                     N/A
28    ALXN       183.30           40706208954                     N/A
29    AMAT       124.74          108955460456                     N/A
..     ...          ...                   ...                     ...
471    VTR        64.20           25583462125                     N/A
472     VZ        53.54          226046152737                     N/A
473    WAB        92.37           17191402716                     N/A
474    WAT       306.76           18856135844                     N/A
475    WBA        46.35           39169684663                     N/A
476    WDC        48.97           15149519078                     N/A
477    WEC       106.43           34093487432                     N/A
478   WELL       100.18                     0                     N/A
479    WFC        47.96          188892325542                     N/A
480    WHR       174.24           10172020929                     N/A
481     WM       166.50           69339071429                     N/A
482    WMB        33.40           41483055403                     N/A
483    WMT       159.20          444695356375                     N/A
484    WRB        68.80           11981650168                     N/A
485    WRK        48.49           12470413898                     N/A
486    WST       420.94           31533396154                     N/A
487     WU        19.07            7347467473                     N/A
488     WY        38.40           28296480093                     N/A
489   WYNN        78.37            8863189021                     N/A
490    XEL        76.54           42629268223                     N/A
491   XLNX       202.17           48736983496                     N/A
492    XOM        86.63          370500227099                     N/A
493   XRAY        50.31           10805398624                     N/A
494    XRX        19.81            3016969792                     N/A
495    XYL        87.61           15734908809                     N/A
496    YUM       120.61           35203807622                     N/A
497    ZBH       131.31           28020714179                     N/A
498   ZBRA       426.90           23271605552                     N/A
499   ZION        65.12           10066562493                     N/A
500    ZTS       197.34           92305329064                     N/A

[501 rows x 4 columns]

## Using Batch API calls to improve performance

In [34]:
def chunks(lst, n):
    """ Yield succesive n-sized chunks from lst"""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [35]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    # print(symbol_strings[i])

final_dataframe = pd.DataFrame(columns= my_columns)

for symbol_string in symbol_strings:
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url).json()
    
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(pd.Series(
            [
              symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['marketCap'],
                'N/A'
            ],
            index=my_columns),
        ignore_index=True
        )

final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       133.63           41301706773                     N/A
1      AAL        17.39           11302402317                     N/A
2      AAP       213.24           13510562501                     N/A
3     AAPL       176.25         2852673723096                     N/A
4     ABBV       176.14          308995587242                     N/A
5      ABC       161.51           33539804737                     N/A
6     ABMD       320.10           14654340224                     N/A
7      ABT       120.07          220019553892                     N/A
8      ACN       354.15          232453809944                     N/A
9     ADBE       446.08          218726435361                     N/A
10     ADI       162.07           87974940852                     N/A
11     ADM        94.66           53536982985                     N/A
12     ADP       242.08          104811282477                     N/A
13    ADSK       209.09           45315589892                     N/A
14     AEE       100.47           25118862633                     N/A
15     AEP       109.06           54984499381                     N/A
16     AES        26.15           17334838529                     N/A
17     AFL        66.92           43901379069                     N/A
18     AIG        62.01           52061800144                     N/A
19     AIV         7.32            1088043321                     N/A
20     AIZ       187.35           10881549685                     N/A
21     AJG       187.40           38367924691                     N/A
22    AKAM       124.88           19548123077                     N/A
23     ALB       219.41           25705674384                     N/A
24    ALGN       429.77           33843788283                     N/A
25     ALK        55.65            7118616787                     N/A
26     ALL       140.58           39593877351                     N/A
27    ALLE       109.98            9616248801                     N/A
28    ALXN       187.10           40509045867                     N/A
29    AMAT       122.05          108843604973                     N/A
..     ...          ...                   ...                     ...
471    VTR        64.50           25132375049                     N/A
472     VZ        52.95          226137876292                     N/A
473    WAB        92.24           17469351138                     N/A
474    WAT       304.63           19218674131                     N/A
475    WBA        46.33           39224091871                     N/A
476    WDC        48.50           15221377042                     N/A
477    WEC       107.59           33465021215                     N/A
478   WELL        97.08                     0                     N/A
479    WFC        48.93          184342935475                     N/A
480    WHR       174.53            9948073956                     N/A
481     WM       163.40           70044118694                     N/A
482    WMB        35.00           40839145441                     N/A
483    WMT       155.75          439753628299                     N/A
484    WRB        69.80           12239387487                     N/A
485    WRK        48.61           12425232950                     N/A
486    WST       414.11           30877546133                     N/A
487     WU        19.28            7490233776                     N/A
488     WY        37.53           28617661855                     N/A
489   WYNN        78.26            9023784279                     N/A
490    XEL        75.27           41348704600                     N/A
491   XLNX       202.91           50277913070                     N/A
492    XOM        84.93          367438500363                     N/A
493   XRAY        50.10           10429465753                     N/A
494    XRX        19.54            3061311217                     N/A
495    XYL        87.83           16274796909                     N/A
496    YUM       120.20           35077503952                     N/A
497    ZBH       127.94           27043172496                     N/A
498   ZBRA       423.00           22588054187                     N/A
499   ZION        65.41            9762668935                     N/A
500    ZTS       196.92           93681244229                     N/A

[501 rows x 4 columns]

In [36]:
final_dataframe.shape

(501, 4)

## Calculating the number of shares to buy

In [37]:
while True:
    try:
        portfolio_size = float(input('Enter the value of your portfolio: '))
        break
    except ValueError:
                print("Thats not  number! \nPlease try again")

Enter the value of your portfolio: 100000000

In [38]:
position_size = portfolio_size / len(final_dataframe.index)
position_size

199600.79840319362

In [39]:
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])
final_dataframe

    Ticker  Stock Price Market Capitalization  Number of Shares to Buy
0        A       133.63           41301706773                     1493
1      AAL        17.39           11302402317                    11477
2      AAP       213.24           13510562501                      936
3     AAPL       176.25         2852673723096                     1132
4     ABBV       176.14          308995587242                     1133
5      ABC       161.51           33539804737                     1235
6     ABMD       320.10           14654340224                      623
7      ABT       120.07          220019553892                     1662
8      ACN       354.15          232453809944                      563
9     ADBE       446.08          218726435361                      447
10     ADI       162.07           87974940852                     1231
11     ADM        94.66           53536982985                     2108
12     ADP       242.08          104811282477                      824
13    ADSK       209.09           45315589892                      954
14     AEE       100.47           25118862633                     1986
15     AEP       109.06           54984499381                     1830
16     AES        26.15           17334838529                     7632
17     AFL        66.92           43901379069                     2982
18     AIG        62.01           52061800144                     3218
19     AIV         7.32            1088043321                    27267
20     AIZ       187.35           10881549685                     1065
21     AJG       187.40           38367924691                     1065
22    AKAM       124.88           19548123077                     1598
23     ALB       219.41           25705674384                      909
24    ALGN       429.77           33843788283                      464
25     ALK        55.65            7118616787                     3586
26     ALL       140.58           39593877351                     1419
27    ALLE       109.98            9616248801                     1814
28    ALXN       187.10           40509045867                     1066
29    AMAT       122.05          108843604973                     1635
..     ...          ...                   ...                      ...
471    VTR        64.50           25132375049                     3094
472     VZ        52.95          226137876292                     3769
473    WAB        92.24           17469351138                     2163
474    WAT       304.63           19218674131                      655
475    WBA        46.33           39224091871                     4308
476    WDC        48.50           15221377042                     4115
477    WEC       107.59           33465021215                     1855
478   WELL        97.08                     0                     2056
479    WFC        48.93          184342935475                     4079
480    WHR       174.53            9948073956                     1143
481     WM       163.40           70044118694                     1221
482    WMB        35.00           40839145441                     5702
483    WMT       155.75          439753628299                     1281
484    WRB        69.80           12239387487                     2859
485    WRK        48.61           12425232950                     4106
486    WST       414.11           30877546133                      481
487     WU        19.28            7490233776                    10352
488     WY        37.53           28617661855                     5318
489   WYNN        78.26            9023784279                     2550
490    XEL        75.27           41348704600                     2651
491   XLNX       202.91           50277913070                      983
492    XOM        84.93          367438500363                     2350
493   XRAY        50.10           10429465753                     3984
494    XRX        19.54            3061311217                    10214
495    XYL        87.83           16274796909                     2272
496    YUM       120.20           35077503952                     1660
497    ZBH       127.94           27043172496                     1560
498   ZBRA       423.00           22588054187                      471
499   ZION        65.41            9762668935                     3051
500    ZTS       196.92           93681244229                     1013

[501 rows x 4 columns]

## Formating Excel Output

### Initializing XlsxWriter Object

In [40]:
writer = pd.ExcelWriter('Recommended_Trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

### Creating the formats needed for the .xlsx file

In [41]:
background_color = '#0a023'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

### Applying the Formats to the Columns of the .xlsx file

In [42]:
# writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)
# writer.save()

writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Stock Price', dollar_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', dollar_format)
writer.sheets['Recommended Trades'].write('D1', 'Number of Shares to Buy', integer_format)

0

In [43]:
column_formats = {
    'A':['Ticker', string_format],
    'B':['Stock Price', dollar_format],
    'C':['Market Capitalization', dollar_format],
    'D':['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

### Save the Excel Output

In [44]:
writer.save()